@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-btn-primary {
    background-color: #1677ff;
}

button:not(.ant-pagination-item-link, .icon) {
    @apply pt-[0.3rem] pb-[1.7rem] !important;
}

button.icon {
    @apply py-[1rem] !important;
    display: flex;
    align-items: center;
}

table > thead > tr > th {
    @apply bg-neutral-100 !important;
}

.content-shadow {
    box-shadow: rgb(14 30 37 / 12%) 0 2px 4px 0, rgb(14 30 37 / 32%) 0 0 5px 0;
}